body {
  font-size: 3rem;
  background-color: #282828;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Danfo", serif;
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.calculator-container {
  width: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
}

.display-container {
  width: 100%;
  padding: 0 0.6rem;
  text-align: right;
  color: #e5e5e5;
  border: 0.1rem solid #9c9c9c;
  border-radius: 0.6rem;
  margin-bottom: 0.3rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.display-history {
  font-size: 1.5rem;
  text-align: right;
  flex-grow: 1;
  font-weight: 200;
  line-height: 1;
  color: #e5e5e580;
}

.display-value {
  text-align: right;
  align-self: flex-end;
  font-size: 3.2rem;
  margin: 0;
  width: 98%;
  line-height: 1.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden; /* hide excess digits */
  white-space: nowrap; /*no additional rows */
}

button {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  color: #e6e6e6;
  background-color: #4a4a4a;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(1.1);
}

/* keyboard layout */
.keyboard {
  display: grid;
  grid-template-rows: repeat(5, 3.7rem);
  grid-template-columns: repeat(4, 7.5rem);
  gap: 0.3rem;
}

/*first row counting from the bottom */
.button-0 {
  grid-area: 5/1/5/1;
}
.button-dot {
  grid-area: 5/2/5/2;
}
.button-equal {
  grid-area: 5/3/5/3;
  background-color: #5f308e;
}
.button-add {
  grid-area: 5/4/5/4;
  background-color: #5f308e99;
}

/*second row counting from the bottom */
.button-1 {
  grid-area: 4/1/4/1;
}
.button-2 {
  grid-area: 4/2/4/2;
}
.button-3 {
  grid-area: 4/3/4/3;
}
.button-substract {
  grid-area: 4/4/4/4;
  background-color: #5f308e99;
}

/*third row counting from the bottom */
.button-4 {
  grid-area: 3/1/3/1;
}
.button-5 {
  grid-area: 3/2/3/2;
}
.button-6 {
  grid-area: 3/3/3/3;
}
.button-multiply {
  grid-area: 3/4/3/4;
  background-color: #5f308e99;
}

/*fourth row counting from the bottom */
.button-7 {
  grid-area: 2/1/2/1;
}
.button-8 {
  grid-area: 2/2/2/2;
}
.button-9 {
  grid-area: 2/3/2/3;
}
.button-divide {
  grid-area: 2/4/2/4;
  background-color: #5f308e99;
}

/*last row */
.button-ce {
  grid-area: 1/4/1/4;
  background-color: #fe1a1a80;
}
.button-openbracket {
  background-color: #1aabfe80;
}
.button-closebracket {
  background-color: #1aabfe80;
}
.button-percent {
  background-color: #1aabfe80;
}
